@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-primary-500: #10b981; /* emerald-500 */
  --color-primary-600: #059669; /* emerald-600 */
  
  --color-surface: #ffffff;
  --color-surface-dark: #1f2937; /* gray-800 */
  
  --color-background: #f3f4f6; /* gray-100 */
  --color-background-dark: #111827; /* gray-900 */
}

@layer base {
  body {
    @apply bg-background text-gray-900 antialiased dark:bg-background-dark dark:text-gray-100;
  }
}
